.game h1{
    font-size: 2.5em;
}
@media screen and (max-width: 400px){
    .game h1 {
        font-size: 2em;
    }

}

.points span {
    font-weight: bold;
}

.tip span {
    color: orange;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid orange;
    display: flex;
}
@media screen and (max-width: 900px) {
    .wordContainer {
        width: 500px;
    }
}
@media screen and (max-width: 600px) {
    .wordContainer {
        width: 250px;
    }
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}
@media screen and (max-width: 600px){
    .letter, .blankSquare {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
    }
}
@media screen and (max-width: 400px) {
    .letter, .blankSquare {
        font-size: 20px;
        height: 30px;
        width: 30px;
    }
}



.letterContainer p {
    margin-bottom: 1.2em;
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input{
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}